<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Watermark generator</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="content">
          <h1 class="content__title">Генератор водяных знаков</h1>
          <div class="content__result"></div>
        </div>
        <div class="sidebar">
          <h2 class="sidebar__title">Настройки</h2>
          <div class="sidebar__settings">
            <form action="" method="" class="form">
              <div class="form__upload">
                <label for="original-image" class="setting__name">Исходное изображение</label>
                <div class="upload-block">
                  <input type="file" id="original-image" class="upload-block__input-file">
                  <input type="text" disabled class="upload-block__input-text">
                  <div class="upload-block__button"><img src="img/download.png"></div>
                </div>
                <label for="watermark" class="setting__name">Водяной знак</label>
                <div class="upload-block">
                  <input type="file" id="watermark" class="upload-block__input-file">
                  <input type="text" disabled class="upload-block__input-text">
                  <div class="upload-block__button"><img src="img/download.png"></div>
                </div>
              </div>
            </form>
            <form class="control__form">
              <div class="form__block">
                <div class="block__header">
                  <h3 class="p">Положение</h3>
                  <!-- кнопки переключения вида-->
                  <div class="switch-type">
                    <button class="btn--four">4</button>
                    <button class="btn--one btn--active">1</button>
                  </div>
                </div>
                <div class="position">
                  <!-- настройки для первого вида (один вотермарк)-->
                  <div class="position__block block--coordinates">
                    <div class="position__view">
                      <!-- настройки визуального перемещения вотермарка-->
                      <table class="view__table">
                        <tbody class="table__body">
                          <tr class="table__row">
                            <td data-x="left" data-y="top" class="table__cell cell--active"></td>
                            <td data-x="center" data-y="top" class="table__cell"></td>
                            <td data-x="right" data-y="top" class="table__cell"></td>
                          </tr>
                          <tr class="table__row">
                            <td data-x="left" data-y="middle" class="table__cell"></td>
                            <td data-x="center" data-y="middle" class="table__cell"></td>
                            <td data-x="right" data-y="middle" class="table__cell"></td>
                          </tr>
                          <tr class="table__row">
                            <td data-x="left" data-y="bottom" class="table__cell"></td>
                            <td data-x="center" data-y="bottom" class="table__cell"></td>
                            <td data-x="right" data-y="bottom" class="table__cell"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="position__regulate">
                      <!-- настройка регулировочных инпутов-->
                      <div class="regulate__block">
                        <p class="p-coordinate">X</p>
                        <input type="text" name="valueX" value="0" class="input--data">
                        <div class="regulate__trigger trigger--arrow">
                          <button data-step="x-up" class="btn--up">Больше</button>
                          <button data-step="x-down" class="btn--down">Меньше</button>
                        </div>
                      </div>
                      <div class="regulate__block">
                        <p class="p-coordinate">Y</p>
                        <input type="text" name="valueY" value="0" class="input--data">
                        <div class="regulate__trigger trigger--arrow">
                          <button data-step="y-up" class="btn--up">Больше</button>
                          <button data-step="y-down" class="btn--down">Меньше</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- настройки для второго вида (четыре вотермарка), блок скрыт по умолчанию-->
                  <div class="position__block block--borders block--hidden">
                    <!-- визуальные линии, которые отображают границы вотермарка-->
                    <div class="position__view">
                      <div class="view__borders"><span class="border__line line--x">горизонтальная линия</span><span class="border__line line--y">вертикальная линия</span></div>
                      <!-- фон для визуальных линий-->
                      <table class="view__table--grid">
                        <tbody class="table__body">
                          <tr class="table__row">
                            <td class="table__cell--grid"></td>
                            <td class="table__cell--grid"></td>
                            <td class="table__cell--grid"></td>
                          </tr>
                          <tr class="table__row">
                            <td class="table__cell--grid"></td>
                            <td class="table__cell--grid"></td>
                            <td class="table__cell--grid"></td>
                          </tr>
                          <tr class="table__row">
                            <td class="table__cell--grid"></td>
                            <td class="table__cell--grid"></td>
                            <td class="table__cell--grid"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- настройка регулировочных инпутов-->
                    <div class="position__regulate">
                      <div class="regulate__block block--vertical">
                        <input type="text" name="borderY" value="1" class="input--data">
                        <div class="regulate__trigger trigger--borders">
                          <button data-border="y-b-up" class="btn--up">Больше</button>
                          <button data-border="y-b-down" class="btn--down">Меньше</button>
                        </div>
                      </div>
                      <div class="regulate__block block--horizontal">
                        <input type="text" name="borderX" value="1" class="input--data">
                        <div class="regulate__trigger trigger--borders">
                          <button data-border="x-b-up" class="btn--up">Больше</button>
                          <button data-border="x-b-down" class="btn--down">Меньше</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__block">
                <div class="block__header">
                  <h3 class="p">Прозрачность</h3>
                  <div class="range-slider">							</div>
                </div>
              </div>
              <div class="form__buttons">
                <button type="reset" value="Сброс" class="form__buttons-reset">Сброс</button>
                <button type="submit" value="Скачать" class="form__buttons-submit">Скачать</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer">
        <p class="footer__content">&copy; 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его</p>
        <!-- социальные кнопки и кнопки смены языка-->
      </footer>
    </div>
    <div class="social__settings">
      <ul class="settings__lang">
        <li class="lang__item"><a href="/ru/" class="lang__btn">РУС</a></li>
        <li class="lang__item"><a href="/eng/" class="lang__btn">ENG</a></li>
      </ul>
      <div class="socials">
        <ul class="socials__list">
          <li class="socials__item"><a href="#" class="social__btn--fb">Facebook</a></li>
          <li class="socials__item"><a href="#" class="social__btn--tw">Twitter</a></li>
          <li class="socials__item"><a href="#" class="social__btn--vk">Vkontakte</a></li>
        </ul>
        <button class="social__btn--like">Лайкнуть</button>
      </div>
    </div>
    <script type="text/javascript" src="js/vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>