<!DOCTYPE html>
<html>
  <head>
    <title>Watermark generator</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="content">
          <h1 class="content__title">Генератор водяных знаков</h1>
          <div class="content__result"></div>
        </div>
        <div class="sidebar">
          <h2 class="sidebar__title">Настройки</h2>
          <div class="sidebar__settings">
            <form action="" method="" class="form">
              <div class="form__upload">
                <label for="original-image" class="setting__name">Исходное изображение</label>
                <div class="upload-block">
                  <input type="file" id="original-image" class="upload-block__input-file">
                  <input type="text" disabled class="upload-block__input-text">
                  <div class="upload-block__button"><img src="img/download.png"></div>
                </div>
                <label for="watermark" class="setting__name">Водяной знак</label>
                <div class="upload-block">
                  <input type="file" id="watermark" class="upload-block__input-file">
                  <input type="text" disabled class="upload-block__input-text">
                  <div class="upload-block__button"><img src="img/download.png"></div>
                </div>
              </div>
              <div class="form__position">
                <div class="setting__name">Положение</div>
                <div class="position__block"><img src="img/position.png"></div>
              </div>
              <div class="form__opacity">
                <div class="setting__name">Прозрачность</div>
                <div class="opacity__block"><img src="img/slider.png"></div>
              </div>
              <div class="form__buttons">
                <button type="reset" value="Сброс" class="form__buttons-reset">Сброс</button>
                <button type="submit" value="Скачать" class="form__buttons-submit">Скачать</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer">
        <p class="footer__content">&copy; 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его</p>
      </footer>
    </div>
    <script type="text/javascript" src="js/vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>