/* line 5, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* declaring variable */
/* text color in sidebar */
/* elements color */
/* border-bottom color for settings block */
/* bg-color reset button */
/* bg-color submit button */
/* bg-color reset button */
/* bg-color submit button */
/* connecting fonts */
/*ROBOTO*/
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/light/roboto-light.eot');
    src: url('../fonts/roboto/light/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/light/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto/light/roboto-light.woff') format('woff'),
         url('../fonts/roboto/light/roboto-light.ttf') format('truetype'),
         url('../fonts/roboto/light/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/medium/roboto-medium.eot');
    src: url('../fonts/roboto/medium/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/medium/roboto-medium.woff2') format('woff2'),
         url('../fonts/roboto/medium/roboto-medium.woff') format('woff'),
         url('../fonts/roboto/medium/roboto-medium.ttf') format('truetype'),
         url('../fonts/roboto/medium/roboto-medium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*SEGOE UI*/
@font-face {
    font-family: 'segoeuil';
    src: url('../fonts/segoe/segoeui-light.eot');
    src: url('../fonts/segoe/segoeui-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoe/segoeui-light.woff') format('woff'),
         url('../fonts/segoe/segoeui-light.ttf') format('truetype'),
         url('../fonts/segoe/segoeui-light.svg#segoeui-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*FIRA SANS*/
@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/fira/firasans-light.eot');
    src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-light.woff2') format('woff2'),
         url('../fonts/fira/firasans-light.woff') format('woff'),
         url('../fonts/fira/firasans-light.ttf') format('truetype'),
         url('../fonts/fira/firasans-light.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* main styles */
/* line 31, ../sass/style.scss */
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* line 36, ../sass/style.scss */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #fff url("../img/bg.jpg") fixed top left no-repeat;
  background-size: 100% 100%;
}

/* line 44, ../sass/style.scss */
.container {
  display: table;
  margin: 0 auto;
  height: 100%;
}

/* line 49, ../sass/style.scss */
.wrapper {
  padding-top: 60px;
  min-width: 960px;
  display: table-cell;
  vertical-align: middle;
}

/* line 54, ../sass/style.scss */
.content {
  width: 700px;
  display: table-cell;
  vertical-align: top;
  background: #646061;
  background: -moz-linear-gradient(top, #646061 0%, #5a4f57 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646061), color-stop(100%, #5a4f57));
  background: -webkit-linear-gradient(top, #646061 0%, #5a4f57 100%);
  background: -o-linear-gradient(top, #646061 0%, #5a4f57 100%);
  background: -ms-linear-gradient(top, #646061 0%, #5a4f57 100%);
  background: linear-gradient(to bottom, #646061 0%, #5a4f57 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646061', endColorstr='#5a4f57',GradientType=0 );
}

/* line 67, ../sass/style.scss */
.content__title {
  font: 36px 'segoeuil';
  color: #fff;
  margin-bottom: 53px;
  padding: 9px 22px 0 22px;
}

/* line 73, ../sass/style.scss */
.content__result {
  width: 650px;
  height: 535px;
  background-image: url(../img/test-picture.jpg);
  margin: 0 auto 25px;
}

/* SIDEBAR */
/* line 82, ../sass/style.scss */
.sidebar {
  padding-top: 27px;
  width: 260px;
  background-color: #f1f1f5;
  font-family: 'robotolight';
  color: #2e3641;
  display: table-cell;
}

/* line 90, ../sass/style.scss */
.sidebar__title {
  text-align: center;
  font-size: 26px;
  margin: 0 auto 37px;
  overflow: hidden;
  width: 220px;
}

/* line 97, ../sass/style.scss */
.sidebar__settings {
  font-size: 14px;
}

/* line 100, ../sass/style.scss */
.setting__name {
  margin: 0 0 6px 20px;
  display: block;
}

/* line 104, ../sass/style.scss */
.form__upload {
  position: relative;
  border-bottom: 1px solid #f4c3c2;
  margin-bottom: 17px;
}

/* line 108, ../sass/style.scss */
.form__upload:before{
  position: absolute;
  z-index: 5;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid #f1f1f5;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.form__upload:after{
  position: absolute;
  z-index: 4;
  bottom: -10px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid #f97e76;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}


/* block upload files */
/* line 125, ../sass/style.scss */
.upload-block {
  height: 25px;
  width: 219px;
  border: 1px solid #9eb2c0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto 30px;
}

/* line 135, ../sass/style.scss */
.upload-block__input-file {
  display: none;
}

/* line 138, ../sass/style.scss */
.upload-block__input-text {
  border: 0;
  padding: 0 0 0 3px;
  width: 177px;
  height: 25px;
  float: left;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #9eb2c0;
  background-color: #f1f1f5;
}

/* line 153, ../sass/style.scss */
.upload-block__button {
  display: block;
  border: 0;
  width: 39px;
  text-align: center;
  float: left;
  position: relative;
  z-index: 100;
  top: -1px;
  left: 1px;
}

/* block buttons */
/* line 180, ../sass/style.scss */
.form__buttons {
  padding: 0 10px;
  margin: 40px 0 0;
}

/* line 184, ../sass/style.scss */
.form__buttons:after {
  content: "";
  display: table;
  clear: both;
}

/* line 189, ../sass/style.scss */
.form__buttons-reset, .form__buttons-submit {
  width: 99px;
  height: 42px;
  border: 0;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  vertical-align: bottom;
  transition: all 0.5s ease;
}

/* line 202, ../sass/style.scss */
.form__buttons-reset {
  float: left;
  background-color: #c1cfd9;
}

/* line 206, ../sass/style.scss */
.form__buttons-submit {
  float: right;
  background-color: #f97e76;
}

/* line 210, ../sass/style.scss */
.form__buttons-reset:hover {
  background-color: #B4C5D0;
}

/* line 213, ../sass/style.scss */
.form__buttons-submit:hover {
  background-color: #F56C63;
}

/* line 216, ../sass/style.scss */
*:focus {
  outline: none;
}

/* FOOTER */
/* line 222, ../sass/style.scss */
.footer {
  width: 960px;
  color: #fff;
  font: 12px 'fira_sanslight';
  text-align: center;
  display: table-footer-group;
}

/* line 229, ../sass/style.scss */
.footer__content {
  height: 50px;
  line-height: 50px;
}

/* ===================== control settings============= */

.form__block{
  position: relative;
  margin-bottom: 15px;
  padding: 0 20px 30px;
  border-bottom: 1px solid #f97e76;
}

.form__block:before{
  position: absolute;
  z-index: 5;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid #f1f1f5;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.form__block:after{
  position: absolute;
  z-index: 4;
  bottom: -10px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid #f97e76;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.block__header{
  position: relative;
  height: 20px;
  margin-bottom: 37px;
}

.p{
  display: block;
  margin: 0 0 8px;
  font-family: 'robotolight';
  font-size: 14px;
  font-weight: normal;
}

.switch-type{
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 0 0 -10px;
  height: 20px;
}

.btn--four{
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  float: left;
  width: 20px;
  margin: 0 10px 0 0; 
  text-indent: -9999px;
  background: url(../img/sprite.png);
  background-position: 0 -159px;
  height: 19px;
  width: 19px;
}

.btn--four:hover{
  background-position: 0 -140px;
}

.btn--four:active, .btn--four.btn--active{
  background-position: 0 -178px;
}

.btn--one{
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  float: left;
  width: 20px;
  margin: 0;  
  text-indent: -9999px;
  background: url(../img/sprite.png);
  background-position: -13px -8px;
  height: 19px;
  width: 19px;
}

.btn--one:hover{
  background-position: 0 -121px;
}

.btn--one:active, .btn--one.btn--active{
  background-position: -13px -102px;
}

.position__block:after, .regulate__block:after, .regulate__block:after, .regulate__trigger:after{
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: '';
}

.position__view{
  position: relative;
  float: left;
}
.view__table, .view__table--grid{
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-spacing: 0;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  background-color: #dbe1e8;
  border-collapse: collapse;
  cursor: pointer;
}

.table__cell, .table__cell--grid{
  width: 33px;
  height: 33px;
  max-height: 33px;
  border: 1px solid #9eb2c0;
}

.table__cell:hover{
  background-color: #f97e76;  
}

.cell--active{
  background-color: #f97e76;
}
.view__table--grid{
  cursor: default;
}

.position__regulate{
  float: right;
  width: 85px;
}

.regulate__block{
  position: relative;
  float: right;
  margin: 0 0 10px;
}

.p-coordinate{
  float: left;
  margin: 0 5px 0 0;
  line-height: 44px;
  width: 10px;
  text-align: center;
  font-family: 'robotolight';
  font-size: 16px;
}

.input--data{
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 44px;
  height: 44px;
  font-family: 'segoeuil';
  font-size: 24px;
  text-align: center;
  color: #9eb2c0;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  background-color: #fff;
}

.regulate__trigger{
  position: relative;
  width: 15px;
  height: 46px;
  float: left;
  margin: 0 5px 0 0;
  margin-right: 0;
}

.btn--up, .btn--down{
  position: absolute;
  right: 0;
  left: 0;
  width: inherit;
  height: 10px;
  margin: auto;
  background: url(../img/sprite.png);

  height: 8px;
  width: 13px;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-indent: -9999px;
}

.btn--up{
  top:5px;
  background-position: 0 0;
}

.btn--up:hover{
  background-position: -13px 0;
}

.btn--down{
  bottom: 5px;
  background-position: 0 -102px;
}

.btn--down:hover{
  background-position: 0 -8px;
}

.block--vertical:before, .block--horizontal:before{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  margin: auto 4px auto 0;
  width: 9px;
  height: 29px;
  background: url(../img/sprite.png);
  background-position: -21px -36px;
  height: 30px;
  width: 11px;
  content: '';
}
.block--horizontal:before{
  background-position: 0 -27px;
  height: 9px;
  width: 29px;
}

.view__borders{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.border__line{ 
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
  line-height: 0;
  background-color: #f97e76;
}

.line--x{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  width: 100%;
}

.line--y {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
  width: 1px;
}

/*оформление слайдера*/
.ui-slider {
  margin: 25px 0 30px;
  width: 218px;
  height: 3px;
  background: #dbe1e8;
  border: 0;
  cursor:pointer;
  position: relative;
}
.ui-slider .ui-slider-handle {
  position:absolute;
  top:-10px;
  margin: auto 0 auto -12px;
  background: url(../img/sprite.png);
  background-position: 0 -241px;
  height: 24px;
  width: 24px;
  outline: none;
  border:none;
  cursor:pointer;
}
.ui-slider .ui-slider-handle:hover, .ui-slider-handle:active  {
  background: url(../img/sprite.png);
  background-position: 0 -265px;
  width: 24px;
  height: 24px;
}
.ui-slider-range {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  background: #9eb2c0;
}

.block--hidden{
  display: none;
}

/* оформление социальных кнопок */

.social__settings{
  position: absolute;
  top: 102px;
} 

.settings__lang{
  width: 43px;
  color: #989ba0;
  margin: 0 0 18px;
  padding: 0;
  font-size: 20px;
  list-style: none;
  overflow: hidden;
}

.lang__item{
  border-bottom: 1px solid #a5a7ac;

}

.lang__item:last-child{
  border-bottom: none;
}

.lang__btn{
  display: block;
  line-height: 34px;
  width: 43px;
  height: 34px;
  font-family: 'segoeuil';
  font-weight: normal;
  background-color: rgba(241,241,245,.7);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color:#989ba0;
}

.lang__btn:hover{
  color: #4f555d;
}
.socials{
  width: 86px;
  transform: translate(-43px, 0);
  transition: transform .3s ease-in-out;
}
.socials:after{
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: '';
}
.socials__list{
  float: left;
  list-style: none;
  padding: 0;
  margin:0; 
}

.socials__item{
  width: 43px;
  height: 42px;
  position: relative;
  background-color: rgba(241,241,245,.7);
}

.social__btn--fb, .social__btn--tw, .social__btn--vk{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/sprite.png);
}

.social__btn--fb{
  background-position: 0 -289px;
  height: 27px;
  width: 15px;
}
.social__btn--fb:hover, .social__btn--fb:active{
  background-position: -15px -289px;
}

.social__btn--tw{
  background-position: 0 -219px;
  height: 22px;
  width: 28px;
}
.social__btn--tw:hover, .social__btn--tw:active{
  background-position: 0 -197px;
}
.social__btn--vk{
  background-position: 0 -66px;
  height: 18px;
  width: 32px;
}
.social__btn--vk:hover, .social__btn--vk:active{
  background-position: 0 -84px;
}

.social__btn--like{
  position: relative;
  padding: 0;
  float: left;
  width: 43px;
  height: 42px;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-indent: -9999px;
  background-color: rgba(241,241,245,.7);
}

.social__btn--like:after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: '';
  background: url(../img/sprite.png);
  background-position: 0 -348px;
  height: 32px;
  width: 26px;
}
.social__btn--like:hover:after, .social__btn--like:active:after{
  background-position: 0 -316px;
}

.social--open{
  transform:translate(0, 0);
}