//- index.jade
extends ../layouts/layout.jade

block title
	title Watermark service | Сервис добавления водяных знаков


block content
	.container
		.wrapper
			.content
				h1.content__title Генератор водяных знаков
				.content__result
			.sidebar
				h2.sidebar__title Настройки
				.sidebar__settings
					form(action='' method='').upload
						label(for='original-image').setting__name Исходное изображение
						.upload-block
							input(type='file' id='original-image').upload-block__input-file
							input(type='text' disabled).upload-block__input-text
							.upload-block__button
								img(src='../img/download.png')
						label(for='watermark').setting__name Водяной знак
						.upload-block
							input(type='file' id='watermark').upload-block__input-file
							input(type='text' disabled).upload-block__input-text
							.upload-block__button
								img(src='../img/download.png')
					form(action='' method='').settings
						.setting__position
							.setting__name Положение
							.position__block
								img(src='../img/position.png' class='position__img')
						.setting__opacity
							.setting__name Прозрачность
							.opacity__block
								img(src='../img/slider.png' class='opacity__img')
						.setting__buttons
								button(type='reset' value='Сброс').setting__buttons-reset Сброс
								button(type='submit' value='Скачать').setting__buttons-submit Скачать
