.point-up, .point-dw_hover, .point-up_hover, .point-dw, .l-one, .arrow-h, .arrow-v, .download, .fb, .fb_hover, .l-grid, .l-grid_active, .l-grid_hover, .like, .like_hover, .l-one, .l-one_active, .l-one_hover, .toggle, .toggle_hover, .tw, .tw_hover, .vk, .vk_hover{
  background: url(../img/sprites.png) no-repeat;
}

.point-up{
  background-position: 0 0;
  width: 13px;
  height: 8px;
}

.point-dw_hover{
  background-position: 0 -7.984375px ;
  width: 13px;
  height: 8px;
}

.point-up_hover{
  background-position: -13px 0;
  width: 13px;
  height: 8px;
}

.point-dw{
  background-position: -13px -8px ;
  width: 13px;
  height: 8px;
}

.l-one{
  background-position: -7px -16px ;
  width: 19px;
  height: 19px;
}

.arrow-h{
  background-position: -1px -35px ;
  width: 29px;
  height: 9px;
}

.arrow-v{
  background-position: -0.000003814697265625px -45px ;
  width: 11px;
  height: 30px;
}

.download{
  background-position: -4.000004px -78.000004px ;
  width: 39px;
  height: 27px;
}

.fb{
  background-position: 0 -113px ;
  width: 15px;
  height: 27px;
}

.fb_hover{
  background-position: -15.000003814697266px -113px ;
  width: 15px;
  height: 27px;
}

.l-grid{
  background-position: -27.000003814697266px -16px ;
  width: 19px;
  height: 19px;
}

.l-grid_active{
  background-position: -47.000003814697266px -16px ;
  width: 19px;
  height: 19px;
}

.l-grid_hover{
  background-position: -67.00000381469727px -16px ;
  width: 19px;
  height: 19px;
}

.like{
  background-position: 0 -149.0000114440918px ;
  width: 26px;
  height: 32px;
}

.like_hover{
  background-position: -28.000003814697266px -149.0000114440918px ;
  width: 26px;
  height: 32px;
}

.l-one{
  background-position: 0 -189.0000114440918px ;
  width: 19px;
  height: 19px;
}

.l-one_active{
  background-position: -20.000003814697266px -189.0000114440918px ;
  width: 19px;
  height: 19px;
}

.l-one_hover{
  background-position: -40.000003814697266px -189.0000114440918px ;
  width: 19px;
  height: 19px;
}

.toggle{
  background-position: 0 -214px ;
  width: 24px;
  height: 24px;
}

.toggle_hover{
  background-position: -25.000003814697266px -214px ;
  width: 24px;
  height: 24px;
}

.tw{
  background-position: -49.000003814697266px -37px ;
  width: 28px;
  height: 22px;
}

.tw_hover{
  background-position: -49.000003814697266px -60px ;
  width: 28px;
  height: 22px;
}

.vk{
  background-position: -35.000003814697266px -114px ;
  width: 32px;
  height: 18px;
}

.vk_hover{
  background-position: -68.00000381469727px -114px ;
  width: 32px;
  height: 18px;
}
