/* --------- includes --------- */
/* --------- colors --------- */
/* text color in sidebar */
/* elements color */
/* border-bottom color for settings block */
/* bg-color reset button */
/* bg-color submit button */
/* bg-color reset button-hover */
/* bg-color submit button-hover */
/* --------- main styles --------- */
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #fff url("../img/bg.jpg") fixed top left no-repeat;
  background-size: 100% 100%;
}

.container {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  min-width: 960px;
  display: table-cell;
  vertical-align: middle;
}

/* --------- content --------- */
.content {
  width: 700px;
  display: table-cell;
  vertical-align: top;
  background: #646061;
  background: -moz-linear-gradient(top, #646061 0%, #5a4f57 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646061), color-stop(100%, #5a4f57));
  background: -webkit-linear-gradient(top, #646061 0%, #5a4f57 100%);
  background: -o-linear-gradient(top, #646061 0%, #5a4f57 100%);
  background: -ms-linear-gradient(top, #646061 0%, #5a4f57 100%);
  background: linear-gradient(to bottom, #646061 0%, #5a4f57 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646061', endColorstr='#5a4f57',GradientType=0 );
}

.content__title {
  font: 36px 'SegoeUI-light';
  color: #fff;
  margin: 0 0 53px 0;
  padding: 9px 22px 0 22px;
}

.content__result {
  width: 650px;
  height: 535px;
  background-image: url(../img/test-picture.jpg);
  margin: 0 auto 25px;
}

/* --------- sidebar --------- */
.sidebar {
  padding-top: 18px;
  width: 260px;
  background-color: #f1f1f5;
  font-family: 'Roboto-light';
  color: #2e3641;
  display: table-cell;
}

.sidebar__title {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  margin: 0 auto 31px;
  overflow: hidden;
  width: 220px;
}

.sidebar__settings {
  font-size: 14px;
}

.setting__name {
  margin: 0 0 6px 20px;
  display: block;
}

.upload, .setting__position {
  border-bottom: 1px solid #f4c3c2;
  margin-bottom: 17px;
}

.upload:after, .setting__position:after, .setting__opacity:after {
  content: url(../img/arrow.png);
  position: relative;
  left: 120px;
  bottom: -13px;
  width: 19px;
  height: 10px;
}

@-moz-document url-prefix() {
  .form__upload:after, .setting__position:after, .setting__opacity:after {
    bottom: -12px;
  }
}
/* block upload files */
.upload-block {
  height: 25px;
  width: 219px;
  border: 1px solid #9eb2c0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto 15px;
}

.upload-block__input-file {
  display: none;
}

.upload-block__input-text {
  border: 0;
  padding: 0 0 0 3px;
  width: 177px;
  height: 25px;
  float: left;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #9eb2c0;
  background-color: #f1f1f5;
}

.upload-block__button {
  display: block;
  border: 0;
  width: 39px;
  text-align: center;
  float: left;
  position: relative;
  z-index: 100;
  top: -1px;
  left: 1px;
}

/* block position */
.position__block, .opacity__block {
  text-align: center;
}

.position__img {
  display: block;
  margin: 0 auto;
}

/* block opacity */
.setting__opacity {
  border-bottom: 1px solid #f4c3c2;
  margin-bottom: 56px;
}

.opacity__img {
  display: block;
  margin: 0 auto;
}

/* block buttons */
.setting__buttons {
  padding: 0 10px;
  margin-bottom: 24px;
}

.setting__buttons:after {
  content: "";
  display: table;
  clear: both;
}

.setting__buttons-reset, .setting__buttons-submit {
  width: 99px;
  height: 42px;
  border: 0;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  vertical-align: bottom;
  transition: all 0.5s ease;
}

.setting__buttons-reset {
  float: left;
  background-color: #c1cfd9;
}

.setting__buttons-submit {
  float: right;
  background-color: #f97e76;
}

.setting__buttons-reset:hover {
  background-color: #B4C5D0;
}

.setting__buttons-submit:hover {
  background-color: #F56C63;
}

*:focus {
  outline: none;
}

/* --------- footer --------- */
.footer {
  width: 960px;
  color: #fff;
  font: 12px 'Fira-sanslight';
  text-align: center;
  display: table-footer-group;
}

.footer__content {
  height: 50px;
  line-height: 50px;
  margin: 0;
}
