.social__settings
	ul.settings__lang
		li.lang__item
			a.lang__btn(href='/ru/') РУС
		li.lang__item
			a.lang__btn(href='/eng/') ENG
	.socials
		ul.socials__list
			li.socials__item
				a.social__btn--fb(href='#') Facebook
			li.socials__item
				a.social__btn--tw(href='#') Twitter
			li.socials__item
				a.social__btn--vk(href='#') Vkontakte
		button.social__btn--like Лайкнуть


